@import "../../main";

.main {
  position: relative;
  margin-top: $headerheight;
  width: 100%;
  min-height: 100vh;
  padding: $sectionPadding;
  display: flex;
  justify-content: space-between;

  .blockLeft {
    font-size: 2rem;
    width: 65%;
    min-height: 80vh;
    .wrapper{
      border: 2px solid rgba(232, 67, 147, 0.36);
      width: 100%;
      display: flex;
      border-radius: 5px;
      margin-top: 10px;
      color: #6e6e6e;
      img{
        height: 150px;
        width: 150px;
        background: beige;
        object-fit: contain;
      }
      .productInfo{
        position: relative;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .flowerName{
          position: absolute;
          right: 50%;
          top: 5px;
        }
        .productPrice{
          position: absolute;
          right: 20px;
          top: 20px;
          font-size: 2rem;
          span{
            font-size: 1.8rem;
            color: $borderStandard;
          }
        }
        .productCount{
          position: absolute;
          bottom: 40px;
          display: flex;
          align-items: center;
          width: 200px;
          button{
            cursor: pointer;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            margin: 5px;
            background: none;
            &:active{
              transform: scale(.95);
            }
            &:hover{
              color: whitesmoke;
              background: $borderStandard;
            }
          }
        }
        .removeProduct,.buy{
          cursor: pointer;
          font-size: 1.7rem;
          position: absolute;
          height: 30px;
          width: 70px;
          right: 20px;
          bottom: 20px;
          background: #236aa0;
          color: whitesmoke;
          border-radius: 5px;
          &:active{
            transform: scale(.95);
          }
        }
        .removeProduct:hover{
          background: #CD4040;
        }
        .buy{
          right: 100px;
          background: limegreen;
        }
      }
    }
  }

  .blockRight {
    width: 30%;
    .blockRightChild {
      width: 100%;
      position: sticky;
      top: $headerheight;
      border: $borderStandard;
      border-radius: 5px;
      padding: 2rem;
      h1{
      color: #6e6e6e;
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 10px;
      }
      p{
        text-align: center;
        font-size: 1.75rem;
      }
      span{
        font-size: 1.5rem;
        color: $contentColor;
      }
      .total{
        width: 100%;
        height: 80px;
        text-align: center;
        font-size: 1.7rem;
        border-top: 2px solid $contentColor;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
        button{
          margin-top: 10px;
          cursor: pointer;
          padding: .9rem;
          width: 150px;
          border-radius: 5px;
          background: none;
          font-size: 1.8rem;
          border: $borderStandard;
          &:hover{
            color: whitesmoke;
            background: $contentColor;
          }
          &:active{
            transform: scale(.95);
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .main{
    flex-direction: column;
    justify-content: flex-start;
    .blockLeft{
      width: 100%;
    }
    .blockRight{
      margin: 20px 0;
      width: 100%;
      .blockRightChild{
      }
    }
  }
}

@media (max-width: 500px) {
  .main {
    .blockLeft {
      .wrapper{
        border: 2px solid rgba(232, 67, 147, 0.36);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
          height: 200px;
          width: 200px;
        }
      }
    }
    .blockRight {
      .blockRightChild {
      }
    }
  }

}