@import '../../styles/main';

.greetings {
    text-transform: capitalize;
    @include btnClasses();
    padding: $sectionPadding;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../../public/Assets/images/greetings-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    .content {
        max-width: 55rem;

        h3 {
            font-size: 5rem;
            color: #333;
        }

        span {
            font-size: 3rem;
            color: $contentColor;
            padding: 1rem 0;
            line-height: 1.5;
        }

        p {
            font-size: 1.5rem;
            color: #999;
            padding: 1rem 0;
            line-height: 1.5;
        }
    }
}