@import '../../styles/main';

.greetings {
    position: relative;
    width: 100%;
    @include btnClasses();
    padding: $sectionPadding;
    display: flex;
    align-items: center;
    min-height: 100vh;
    img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content {
        max-width: 55rem;

        h3 {
            font-size: 5rem;
            color: #333;
        }

        span {
            font-size: 3rem;
            color: $contentColor;
            padding: 1rem 0;
            line-height: 1.5;
        }

        p {
            font-size: 1.5rem;
            color: #999;
            padding: 1rem 0;
            line-height: 1.5;
        }
    }
}