@import "styles/main";

@mixin button {
  .buy {
    position: absolute;
    cursor: pointer;
    font-size: 2.3rem;
    font-weight: bold;
    padding: 1.2rem;
    border-radius: 8px;
    background: $contentColor;
    color: whitesmoke;

    &:active {
      transform: scale(.95);
    }
  }
}

.main {
  position: relative;
  width: 100%;
  min-height: 50vh;
  margin-top: $headerheight;
  display: flex;

  .images {
    position: relative;
    width: 100%;
    min-width: 300px;
    height: 400px;
    padding: 20px;
    overflow: hidden;
    .discount {
      padding: 10px;
      border-radius: 6px;
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 2.3rem;
      color: $contentColor;
      background: rgba(255, 192, 203, 0.4);
    }
    .status {
      position: absolute;
      top: 20px;
      left: 30px;
      font-size: 2.3rem;
      color: $contentColor;
      padding: 10px;
      background: rgba(255, 192, 203, 0.4);
      border-radius: 6px;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 300px;
    }
    .share{
      width: 100%;
      display: flex;
      justify-content: center;
      .shareWrapper{
        margin: 0 10px;
        &:last-child{
          padding: 7px;
          border-radius: 100%;
          color: whitesmoke;
          background: $contentColor;
          i{
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .productInfo {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: $sectionPadding;
    bottom: 10px;
    padding-top: 70px;
    h1 {
      color: $contentColor;
      font-size: 4rem;
      margin-bottom: 20px;
    }
    .aboutFlower{
      text-align: justify;
      font-size: 1.575rem;
      margin-bottom: 10px;
    }
    h4 ,h6{
      font-size: 3rem;
      span {
        color: $contentColor;
      }
    }
    h6{
      text-decoration: line-through;
    }
    ul {
      margin: 15px 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      li {
        margin: 5px;
        cursor: pointer;
        padding: .5rem;
        font-size: 1.275rem;
        font-weight: bold;
        border-radius: 7px;
        color: $contentColor;
        background: rgba(255, 192, 203, 0.4);
        &:active{
          transform: scale(.75);
        }
        &:first-child {
          color: black;
          font-size: 1.575rem;
          background: none;
          cursor: auto;
          &:active{
            transform: none;
          }
        }
      }
    }
    @include button();
    button{
      right: 30px;
      bottom: -20px;
    }
  }
  .similarBlock {
    padding: $sectionPadding;
  }
}

//media queries
@media (max-width: 1000px) {
  .main {
    flex-direction: column;
    .images {
      .share{
        .shareWrapper{
          &:last-child{
            i{
              font-size: 15px;
            }
          }
        }
      }
    }

    .productInfo {
      h1 {
        position: absolute;
        top: 0;
        left: calc(50% - 16rem);
        margin-bottom: 0;
      }
      button{
        right: 20px;
      }
    }
  }
}

@media (max-width: 650px) {
  .main{
   .images{
     .share{
       display: flex;
       justify-content: space-around;
       .shareWrapper{
         &:last-child{
           i{
             font-size: 15px;
           }
         }
       }
     }
   }
    .productInfo{
      button{
        right: 20px;
        bottom: -15px;
      }
    }
  }
}
@media (max-width: 400px) {
  .main {
    .images {
      padding: 10px;
      .discount {
        top: 5px;
        right: 10px;
      }
      .status {
        top: 5px;
        left: 10px;
      }
      .share{
        width: 100%;
        display: flex;
        justify-content: center;
        .shareWrapper{
          margin: 0 8px;
          &:last-child{
            padding: 9px;
          }
        }
      }
    }
     }
}