@import "../../styles/main";

.main {
  text-transform: capitalize;
  margin-top: $headerheight;
  padding: 0 2rem;
  width: 100%;
  min-height: 100vh;
  @include pagination();
  //display: flex;
  .allProductsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 80vh;
    margin-bottom: 40px;
    .box {
      margin: 5px 5px;
      flex: 1 1 -1;
      box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
      border-radius: .5rem;
      border: .1rem solid rgba(0, 0, 0, .1);
      position: relative;
      width: 300px;
      max-height: 380px;
      .box:hover .image .icons {
        bottom: 0;
      }

    }

    .filterContainer, .filterWrapper {
      cursor: pointer;
      position: fixed;
      right: 30px;
      bottom: 30px;
      border-radius: 5px;
    }

    .filterContainer {
      width: 50px;
      height: 50px;
      background: $contentColor;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: animationsRevers .5s ease-in forwards;

      & > i {
        color: whitesmoke;
        font-size: 3rem;
      }

      &:active {
        transform: scale(.95);
      }
    }

    .filterWrapper {
      width: 300px;
      height: 350px;
      display: flex;
      flex-direction: column;
      background: whitesmoke;
      border: $borderStandard;
      animation: animations .5s ease-in forwards;

      h1 {
        text-align: center;
        font-size: 2.5rem;

        span {
          color: $contentColor
        }
      }

      .closeFilter {
        position: absolute;
        width: 20px;
        height: 20px;
        font-size: 3rem;
        top: -20px;
        right: -5px;
      }

      .content {
        overflow: hidden scroll;
        width: 100%;
        height: 380px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .filterByPrice {
          width: 90%;
          display: flex;
          justify-content: space-around;
          align-items: flex-end;

          & > span {
            color: $contentColor;
            font-size: 2rem;
          }

          .wrapper {
            position: relative;
            width: 100px;
            height: 30px;
            margin: 20px 15px 0 0;

            label, .label {
              position: absolute;
              top: -5px;
              left: 0;
              font-size: 1rem;
            }

            input {
              background: none;
              width: 100%;
              height: 100%;
              border-bottom: 1px solid $contentColor;

              &:placeholder-shown {
                border-bottom-color: #6e6e6e;
              }

              &:placeholder-shown ~ label {
                top: 7px;
                font-size: 1.7rem;
                left: 8px;
              }
            }

            .label {
              top: -15px;
            }
          }
        }
        .categoriesBlock{
          margin-top: 10px;
          width: 100%;
          padding: 10px;
          display: flex;
          flex-direction: column;
          li{
            margin-top: 5px;
            cursor: pointer;
            font-size: 2rem;
            border-bottom: 1px solid gray;
            span{
              font-size: .8rem;
              color: $contentColor;
            }
            &:hover{
              color: $contentColor;
              border-color: $contentColor;
              transition: border-color .5s, color .5s;
            }
          }
        }

      }

      button {
        cursor: pointer;
        font-size: 1.67rem;
        font-weight: 600;
        height: 40px;
        border-top: 2px solid $contentColor;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        span {
          color: $contentColor;
        }

        &:hover {
          background: $contentColor;
          color: whitesmoke;

          & > span {
            color: black;
          }
        }

        &:active {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@keyframes animations {
  0% {
    width: 50px;
    height: 50px;
  }

  100% {
    width: 300px;
    height: 350px;
    z-index: 3;
  }
}

@keyframes animationsRevers {
  0% {
    width: 300px;
    height: 350px;
  }

  100% {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 850px) {
  .main{
    flex-direction: column;
    .allProductsContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      min-height: 80vh;
    }
    }
}
@media (max-width: 450px) {
  .main {
    .allProductsContainer {
      .filterContainer, .filterWrapper {
        position: fixed;
        right: 10px;
        bottom: 15px;
      }
    }
  }
}