//constatns
$headerheight: 80px !default;
//fonts
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
$FONT: 'Kaisei HarunoUmi',serif !default;
//
//body {
//  font-family: $FONT;
//}

// COLORS
$contentColor: rgba(232, 67, 147, 0.98) !default;
$sectionPadding: 2rem 9% !default;
$borderStandard: 2px solid $contentColor;
$contentDark: #CD4040 !default;
$textColorLigth: hsl(0, 0%, 96%) !default;
$textColorDark: black !default;
$buttonsLigthColor: #236aa0 !default;
$buttonsDarkhColor: #236aa0 !default;
$buttonsHoverLigth: red !default;
$buttonsHoverDark: red !default;

@mixin font ($size: 16px, $weigth: 500, $color:black) {
  font-family: $FONT;
  font-size: $size;
  font-weight: $weigth;
  color: $color;
}

@mixin sectionHeading {
  .heading {
    text-transform: capitalize;
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .11);
  }

  .heading span {
    color: $contentColor;
  }
}

@mixin btnClasses {
  .btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    &:hover{
        background: $contentColor;
    }
}
}
@mixin wrapper($I) {
  .wrapper {
    position: relative;
    width: 180px;
    height: 30px;
    margin: 20px 15px 0 0;

    label, .label {
      position: absolute;
      top: -5px;
      left: 0;
      font-size: 1rem;
    }

    input {
      background: none;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid $contentColor;

      &:placeholder-shown {
        border-bottom-color: #6e6e6e;
      }

      &:placeholder-shown ~ label {
        top: 7px;
        font-size: 1.375rem;
        left: 8px;
      }
    }

    .label {
      top: -15px;
    }

    textarea {
      background: none;
      padding-top: 10px;
      width: 200px;
      min-height: 60px;
      border-bottom: 2px solid $contentColor;

      &:placeholder-shown {
        border-bottom-color: #6e6e6e;
      }

      &:placeholder-shown ~ label {
        top: 15px;
        font-size: 1.7rem;
        left: 8px;
      }
    }

    .custom-select {
      position: relative;
      height: 100%;
      display: block;
      width: 175px;
      margin-right: 15px;
      border-bottom: .5px solid $contentColor;
      z-index: 10;
    }

    .custom-select select {
      border: none;
      outline: none;
      background: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0;
      display: block;
      width: 100%;
      padding: 6px 10px 3px 6px;
      font-size: 1.74rem;
    }

    .custom-select:after {
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 100%;
      line-height: 28px;
      content: "∨";
      text-align: center;
      color: $contentColor;
      font-size: 1.74rem;
      z-index: -1;
    }
  }
  @if $I {
    i {
      position: absolute;
      top: 5px;
      right: -20px;
      font-size: 2rem;
    }
  }
}